* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffff;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}


.library-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
    perspective: 1500px;             
    perspective-origin: center center;
}

.library-container.dragging {
    cursor: grabbing;
}

/* Grid layout for cards */
.library-grid {
    position: relative;
    user-select: none;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

/* Individual cards */
.card {
    width: 200px;  
    height: 250px;  
    background: #CBBD93; 
    cursor: pointer;
    
    position: absolute;
}